@model IEnumerable<CartItem>

@if (Model.Count() != 0)
{
    <h1>Your order</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImagePath))
                        {
                            <img src="@Url.Content(item.ImagePath)" alt="Image" class="thumbnail" />
                        }
                        else
                        {
                            <img src="~/images/placeholder.jpg" alt="Placeholder" class="thumbnail" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td id="quantity-@item.ArticleId">
                        @item.Quantity
                    </td>




                </tr>
            }

        </tbody>
    </table>
    <p id='totalCost'>Total Cost: @Model.Sum(item => item.Price * item.Quantity)</p>


    <form method="post" asp-action="OrderConfirmed" asp-controller="Shop">

        <h5>Personal Information</h5>

        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" required>
        <br />
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" required>
        <br />
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" required>

        <h5>Address</h5>

        <label for="Street">Street:</label>
        <input type="text" id="Street" name="Street" required>
        <br />
        <label for="City">City:</label>
        <input type="text" id="City" name="City" required>
        <br />
        <label for="ZipCode">ZIP Code:</label>
        <input type="text" id="ZipCode" name="ZipCode" required>

        <h5>Choose payment</h5>
        <label>
            <input type="radio" name="Payment" value="Card" required> Credit card
        </label>
        <label>
            <input type="radio" name="Payment" value="Transfer" required> Transfer
        </label>
        <label>
            <input type="radio" name="Payment" value="PayPal" required> PayPal
        </label>
        <br />
        <button type="submit">Submit</button>
    </form>
}
else{
    <h1>Your order is empty</h1>
}